h1{
    font-size: 50px;
    text-align: center;
}

.add-initial{
    font-size: 30px;
    background-color: white;
    margin-bottom: 20px;  /* temporary*/
    border-radius: 5px;
    padding: 5px 8px; 
}

.add-div{
    width: 300px;
    height: 300px;
    border: solid black 4px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0px;
}

.time-add-text{
    font-size: 70px; 
    font-family: monospace;
    font-weight: bold;
    margin: 0;
}

.insert-name{
    padding: 5px 20px;
    
}
.insert-name::placeholder{
    font-size: 25px;
}

/*.icons{
    justify-self: center;
}*/
.fa-solid{
    font-size: 40px;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(1, 1, 100)
}
.fa-plus{
    margin-left: 5px;
}
.fa-minus{
    margin-right: 5px;
}