/* css wahlrecht*/

body{
    margin: 20px
}
body::-webkit-scrollbar{
    display: none
}

.img{
    height: 200px; 
    width: 355px;
    
}

body div{
    display: flex; 
    justify-content: space-between;
}

body p{
    width: 100px;
    text-align: center;
}